<div class="container-fluid about-landing">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <h2>About Us</h2>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="green-header">Our Vision</h3>
            <p>Individuals thriving in their careers and leading their professions, unhindered by the barriers that propagate systemic under-representation of persons with minority backgrounds in STEM careers and leadership roles.</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-sm-8" id="mission">
            <h3 class="green-header">Our Mission</h3>
            <p>To provide STEM education through free, creative and hands-on skills development programs to encourage females, visible minorities and undeserved youths to pursue science, technology, engineering and mathematics (STEM) careers.</p>
            <p>To provide one-to-one mentoring to early career professionals and university students from under-represented groups to help foster skill development, career guidance, risk management, feedback provision and inspire champions.</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-sm-8">
            <h3 class="green-header">Why STEMHub Foundation?</h3>
            <p>Women are always less likely to choose a STEM program, regardless of mathematical ability. In addition, women in STEM careers are underpaid when compared to their male counterpart.</p>
            <p>Visible minorities hold only 4.6% of leadership roles in Canadian organizations despite having 66.3% of their population in the labour force.</p>

        </div>
        <div class="col-sm-4"></div>
    </div>
    <hr>
    <div class="spacer"></div>
    <div class="row align-items-center" id="founder">
        <div class="col-sm-4">
            <img src="../img/addy.jpg" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-sm-8 about">
            <h5>Meet Our Founder</h5>
            <h4>Dr. Adeola Olubamiji</h4>
            <p>Founder & Creative Director</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <hr>
            <p>Dr. Olubamiji beats the circle of poverty through education to become the first black person to obtain a PhD in Biomedical
            Engineering from the University of Saskatchewan in 2017. As such, she has first-hand knowledge of how limited access to funds,
            exposure to dangerous neighborhoods and being a woman can be a barrier to becoming a good citizen.</p>
            <br>
            <p>As a trailblazer and scientist
            specializing in cutting-edge additive manufacturing (3D-printing) of metal and plastic components for demanding industrial
            applications, she has a deep understanding of the role of mentorship in career projections. Dr. Olubamiji was recently nominated
            as a 2018 Woman of Inspiration by the Canadian Business chicks. Some of her other awards include 2018 Ondo state Female Role
            Model, 2018 STEM Power Award Recipient at the STEM Power Conference, Lagos, named one of Canada’s 150 black women making
            Canada better by the Canadian Broadcasting Corporation for the celebration of Canada at 150, and 2017 Woman of Outstanding
            Achievement in Education by the Nigerian-Canadian Association.</p>
            <br>
            <p>Alongside publishing her work in academic journals, Dr. Olubamiji
            is a frequent speaker and panelist at international STEM conventions, congresses and conferences around the world. She has
            also been featured on various media platforms including Canadian Broadcasting Corporation (CBC), British Broadcasting Corporation
            (BBC) National Public Radio (NPR), Guardian Nigeria, Nigerian Tribune, Punch Newspaper, City People Nigeria, and over 100
            online news / media platforms.</p>
            <br>
            <p>Prior to establishing STEMHub Foundation, Dr. Olubamiji dedicated her time to promoting student
            engagement, inclusion and diversity, mentoring and empowering youths and women working and studying in STEM related disciplines
            by volunteering. She has volunteered with organizations such as the Empowerment of African Women Organization Finland; Food
            for the Hungry, Saskatoon, Canada; Let’s Talk Science Canada; Engineering Graduate Community Council, University of Saskatchewan;
            Yoruba Heritage School Saskatoon; the African Experience Toronto, Canada and so on.</p>
            <p><a href="mailto:adeola@stemhubfoundation.com">Reach Dr. Adeola</a> adeola@stemhubfoundation.com</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<div class="container-fluid amazing-impact">
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <h3>We are creating amazing impact</h3>
            <p>Our 3D Printing workshop 2018.</p>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>