<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form name="contactform" method="POST" action="/views/mail.php">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <input type="text" name="name" placeholder="Full Name" class="form-control" autocomplete="off" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <select type="text" name="work" placeholder="Company, Organization or Person" class="form-control" autocomplete="off" required>
                            <option value="">-- Organizatio or Individual --</option>
                            <option value="company">Company</option>
                            <option value="org">Organization</option>
                            <option value="person">Individual</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <input type="email" name="email" placeholder="Email" class="form-control" autocomplete="off" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="number" name="phone" placeholder="Mobile No" class="form-control" autocomplete="off" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <input type="text" name="location" placeholder="Location" class="form-control" autocomplete="off" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="text" name="hear-about-us" placeholder="How did you hear about us" autocomplete="off" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <textarea name="message" type="text" placeholder="Type message here" class="form-control" autocomplete="off" required></textarea>
                    </div>
                </div>
                <div>
                    <button type="submit" style="background-color: #009fe3 !important;" class="btn btn-info">Send</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <br><br>
            <h4>Talk to us, say something</h4>
            <p>We are very much open to talk and sharing of ideas on making our community more resourceful and wonderful.</p>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="spacer"></div>

<div class="container-fluid amazing-impact">
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <img src="../img/lighthouse.png" width="90px" class="sm-img" alt="Light house illustration">
        </div>
        <div class="col-sm-3">
            <h4>Become a mentor to our students</h4>
            <p>Career guidance, share their knowledge, experience and connections to help our mentees sharpen their skills,
                get creative and achieve their career goals.</p>
            <a href="#" class="stem-button">Start Mentoring
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="spacer"></div>

    <div class="row align-items-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 order-sm-1">
            <img src="../img/university-lecture.png" width="90px" class="sm-img" alt="">
        </div>
        <div class="col-sm-3">
            <h4>Volunteer to be a facilitator</h4>
            <p>Teach, encourage, inpire, mentor, and serve as a positive role model to the females and young people who participate
                in our STEMing Workshops.</p>
            <a href="#" class="stem-button">Start Facilitating
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-sm-3 order-sm-12"></div>
    </div>
</div>
<div class="spacer"></div>