<div class="container-fluid contrib">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h2>Contributors</h2>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>
<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h3 class="green-header">We love Contributors!</h3>
            <h4></h4>
            <em><p>If you have written an article about STEM that you would like us to share with our audience or you want to be a part of our content team, send an email to our content team lead Adebisi Adewusi at <a href="mailto:adebisi.adewusi@stemhubfoundation.com">adebisi.adewusi@stemhubfoundation.com</a>.</p></em>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>

<div class="spacer75"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3 class="green-header" style="text-align: center;">Meet the Content Team Leader</h3>
            <br><br>
            <div class="row align-items-center">
                <div class="col-sm-12 margin-up">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img src="../img/adewusi.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="col-8">
                            <h5><strong>Adebisi Adewusi</strong></h5>
                            <p class="green-header">Content Team Leader</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br><br><br>
</div>

<div class="spacer75"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="../img/contrib-process.jpg" alt="" class="img-fluid mx-auto d-block">
        </div>
    </div>
    <div class="spacer75"></div>
</div>