<div class="container-fluid event">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <h2>Events</h2>
        </div>
        <div class="col-6"></div>
    </div>
</div>

<div class="container les-event">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 col-sm-6">
            <h3>Making an impact</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore aliquid commodi ea dicta iste veniam voluptatum nemo, hic minima recusandae suscipit porro, ratione at consequatur totam odit voluptas dolore placeat?</p>
        </div>
        <div class="col-1 col-sm-6"></div>
    </div>
</div>

<div class="container les-event">
    <div class="row event1">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row desc1">
        <div class="col-1"></div>
        <div class="col-10 col-sm-6">
            <h3>We had our 3D Printing Workshop</h3>
            <p>We had the finale of our 3 weekends 3D Printing workshop on Saturday. We were very delighted to have Hon. Jean Augustine come out to encourage us.</p>
            <p>Thank you to everyone who came to participate over this 3 weekends! Thank you to @jeanaugustinecentre for having us and to our mentor @ms_mignon and our other volunteers who came out to support us.</p>
            <br>
            <a class="transparent-button" href="#">Find out more</a>
        </div>
        <div class="col-1 col-sm-5"></div>
    </div>
</div>

<div class="container les-event">
    <div class="row event2">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row desc2">
        <div class="col-1"></div>
        <div class="col-10 col-sm-6">
            <h3>We had a workshop for young women on<br>learning graphic design</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, hic repellendus? Assumenda voluptas dicta ad eius optio non asperiores nisi vero et? Delectus rem omnis libero accusamus praesentium, nostrum magnam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ut, quisquam corrupti delectus recusandae, voluptate quod ex laborum pariatur voluptas autem vel? Ea amet ducimus, magni debitis vitae sint ipsa.</p>
            <br>
            <a class="transparent-button" href="#">Find out more</a>
        </div>
        <div class="col-1 col-sm-6"></div>
    </div>
</div>

<div class="container-fluid req-workshop">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h4>Request a Workshop</h4>
            <p>Hey you can request for a workshop and we will gladly come over to impact on young minds</p>
            <a href="https://docs.google.com/forms/d/1taAE4w57DL_bmyvOkPSyYeOE5xCUGBjYcW782sf90ko/edit?ts=5afebcfb" target="_blank" class="transparent-button" role="button">Fill Form</a>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>