
<div class="top-slider">
    <div class="container-fluid first-top-slider">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h2>STEMHub Foundation</h2>
                <h2>Empowerment through STEM Education</h2>
                <br>
                <a href="steming" role="button" class="stem-donate-button-2">Start STEMing</a>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="container-fluid second-top-slider">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h2>Help under-represented youths navigate the world through STEM</h2>
                <br>
                <a href="steming" role="button" class="stem-donate-button-2">Start STEMing</a>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="container-fluid third-top-slider">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h2>Every penny you give will introduce under-represented youths across the world to STEM</h2>
                <br>
                <a href="donate" role="button" class="stem-donate-button-2">Donate</a>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>

    <div class="mdl-grid on-a-mission">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--6-col">
            <h4>STEMHub Foundation is on a Mission</h4>
            <p>To provide STEM education through free, creative and hands-on skills development programs to encourage females, visible minorities and undeserved youths to pursue science, technology, engineering and mathematics (STEM) careers.</p>
            <p>Provision of a one-to-one mentoring program to foster skill development, career guidance, risk management and feedback provision, to females and visible minority STEM professional and entrepreneurs.</p>
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
    </div>

    <div class="programs">
        <h4 style="text-align: center;">Programs</h4>
        <hr width="50%" style="margin-left: auto; margin-right: auto;">
        <br><br>
        <div class="mdl-grid align-items-center">
            <div class="mdl-cell mdl-cell--1-col mdl-cell--order-1-desktop"></div>
            <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--order-6-desktop">
                <img class="img-fluid" src="img/steming.jpg" alt="">
            </div>
            <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--order-2-desktop">
                <h3 class="stemHeader">STEMing</h3>
                <p>Hands-On STEM Workshop </p>
                <p>STEMing delivers creative, free, hands-on and minds-on STEM workshops on various STEM topics to students (Grade 2 - 12) in visible-minority-dominated, female-dominated and underserved communities across the Greater Toronto Area (GTA), Ontario, Canada. <a href="steming">Learn more</a></p>
                <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeGNM47WJ60jYLMbsbB3pUVQYrDm97LHOPaKjwGxJssUI_Rng/viewform" target="_blank" class="stem-button">Book a Stem Cell Workshop</a></p>
                <p><a href="https://goo.gl/forms/H7yF11EKlhO7xqlC2" target="_blank" class="stem-button-2">Volunteer as STEM Facilitator</a></p>
            </div>
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
        <br><br>
        <div class="mdl-grid align-items-center">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet">
                <img src="img/s16.jpg" alt="" class="img-fluid">
            </div>
            <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet">
                <h3 class="stemHeader">STEMStars</h3>
                <p>ONE-TO-ONE MENTORSHIP PROGRAM</p>
                <p>STEMStars is a mentee-driven one-to-one mentoring program that strategically pairs mentees and mentors based on career progression
                needs, and long term career goals.
                <br>
                <br>
                Our mentors voluntarily provide skill development advices, risk management, career guidance,
                share their knowledge, experience, and connection to help our mentees sharpen their skills, get creative and achieve their
                career goals. <a href="stemstars">Learn more</a>
                </p>
                <p>
                    <a style="margin: 3px; display: inline-block" href="https://goo.gl/forms/a0D30lEj8MEjbOjI3" target="_blank" role="button" class="stem-button">Become a STEMStar mentee</a>
                    <a style="margin: 3px; display: inline-block" href="https://goo.gl/forms/GrEvOyXlFUuo8M562" target="_blank" role="button" class="stem-button-2">Request a STEMStar mentor</a>
                </p>
            </div>
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
        <div class="spacer100"></div>
        <div class="mdl-grid distance">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--6-col">
                <h3>Choosing a career in STEM</h3>
                <br>
                <a href="http://stemhubfoundation.com/blog" class="transparent-button" target="_blank">Contribute</a>
            </div>
            <div class="mdl-cell mdl-cell--5-col"></div>
        </div>
        <div class="spacer75"></div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--5-col">
                <h3 class="stemHeader">STEMSpires / STEMScholars Blog</h3>
                <p>Top STEM stories and updates</p>
                <p>Insights, advice and latest happenings in the world of STEM delivered by STEMHub's team, partners, and supporters from across the world.</p>
                <p>We love contributors!</p>
                <p>If you have written an article about STEM that you would like us to share with our audience or you want to be a part of our content team, send an email to our content team lead Adebisi Adewusi at <a href="mailto:adebisi.adewusi@stemhubfoundation.com">adebisi.adewusi@stemhubfoundation.com</a>.</p>
                <p>See our content process below.</p>
                <a href="http://stemhubfoundation.com/blog" target="_blank" role="button" class="stem-button">Read STEM posts</a>
            </div>
            <div class="mdl-cell mdl-cell--6-col"></div>
        </div>
    </div>
    <div class="mdl-grid vol">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
            <h3>Volunteer</h3>
            <p>We need Volunteers & Partners for STEMHub Foundation who are willing to make an impact.</p>
            <a class="transparent-button" href="volunteer" role="button">Join Us</a>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet"></div>
    </div>
    <div class="spacer75"></div>
    <h4 style="text-align:center">Events</h4>
    <br>
    <hr>
    <br>
    <div class="slider-me">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-1 order-sm-1"></div>
                    <div class="col-sm-5 order-sm-10">
                        <img src="../img/donate.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-4 order-sm-2">
                        <p class="stemHeader">State-of-the-art 3D Printing Solution Centre</p>
                        <p>The Division of Samuel, Son & Co where I work (Burloak Technologies) is investing $104 million to build a state of the art
                        3D printing solution centre in Ontario. The Government of Canada and Ontario Government provided part of the funding</p>
                        <a class="stem-button" role="button" href="event">See all events</a>
                    </div>
                    <div class="col-sm-2 order-sm-12"></div>
                </div>
            </div>
    
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-1 order-sm-1"></div>
                    <div class="col-sm-5 order-sm-10">
                        <img src="../img/blu.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-4 order-sm-2">
                        <p class="stemHeader">We had our 3D Printing workshop</p>
                        <p>We had the finale of our 3 weekends 3D Printing workshop on Saturday. We were very delighted t have Hon. Jean Augustine
                            come out to encourage us.
                            <br>
                            <br> Thank you to everyone who came to participate over this 3 weekends! Thank you to @jeanaugustinecentre for having
                            us and to our mentor @ms_mignon and our other volunteers who came out to support us.</p>
                            <a class="stem-button" role="button" href="event">See all events</a>
                    </div>
                    <div class="col-sm-2 order-sm-12"></div>
                </div>
            </div>
    
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-1 order-sm-1"></div>
                    <div class="col-sm-5 order-sm-10">
                        <img src="../img/stemhub10a.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-4 order-sm-2">
                        <p class="stemHeader">We had our 3D Printing workshop</p>
                        <p>We had the finale of our 3 weekends 3D Printing workshop on Saturday. We were very delighted t have Hon. Jean Augustine
                            come out to encourage us.
                            <br>
                            <br> Thank you to everyone who came to participate over this 3 weekends! Thank you to @jeanaugustinecentre for having
                            us and to our mentor @ms_mignon and our other volunteers who came out to support us.</p>
                            <a class="stem-button" role="button" href="event">See all events</a>
                    </div>
                    <div class="col-sm-2 order-sm-12"></div>
                </div>
            </div>
        </div>

    <div class="spacer75"></div>
    <div class="mdl-grid align-items-center">
        <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--1-col-tablet"></div>
        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet">
            <img src="img/addy.jpg" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--3-col-tablet">
            <h3 class="stemHeader">Our Founder, Dr. Adeola D, Olubamiji</h3>
            <p>As a trailblazer and scientist specializing in cutting-edge additive manufacturing (3D-printing) of metal and plastic components
            for demanding industrial applications.
            <br>
            <br>
            She has a deep understanding of the role of mentorship in career projections. Dr.
            Olubamiji was recently nominated as a 2018 Woman of Inspiration by the Canadian Business chicks.</p>
            <p>
                <a href="about#founder">Meet Dr. Adeola <i class="fa fa-chevron-right"></i></a>
            </p>
        </div>
        <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet"></div>
    </div>
    <div class="spacer100"></div>
    <div class="mdl-grid help-more">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
            <h4>DONATE</h4>
            <p>You can help us reach more kids and youths</p>
            <a href="donate" role="button" class="transparent-button">Donate</a>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--1-col-tablet"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3"></div>
        <div class="mdl-cell mdl-cell--3"></div>
        <div class="mdl-cell mdl-cell--3"></div>
        <div class="mdl-cell mdl-cell--3"></div>
    </div>

    <script>

        $(document).ready(function () {
            $('.slider-me').slick({
                infinite: true,
                autoplay: true,
                autoplaySpeed: 5000,
                responsive: [
                    {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                    },
                    {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                    }
                   
                ]
            });

            $('.top-slider').slick({
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                responsive: [
                    {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                    },
                    {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                    }
                    
                ]
            });
        });
    </script>