<div class="container-fluid program-landing">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <h2>Programs</h2>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<div class="spacer"></div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-6 order-sm-last"></div>
        <div class="col-sm-6 order-sm-first">
            <h3 class="stemHeader">STEMing</h3>
            <p>Hands-On STEM Workshop</p>
            <p>STEMing delivers creative, free, hands-on and minds-on STEM workshops on various STEM topics to students (Grade
                2 - 12) in visible-minority-dominated, female-dominated and underserved communities across the Greater Toronto
                Area (GTA), Ontario, Canada. <a href="steming">Learn more</a>
            </p>
            <p><a href="https://goo.gl/forms/wMaplY2YyW2ri8iI3" target="_blank" class="stem-button">Book a Stem Cell Workshop
                    <i class="fa fa-chevron-right"></i></a></p>
            <p><a href="https://goo.gl/forms/H7yF11EKlhO7xqlC2" target="_blank" class="stem-button">Volunteer as STEM Facilitator
                    <i class="fa fa-chevron-right"></i></a></p>
        </div>
    </div>
    <hr>
    <div class="spacer"></div>
    
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h3 class="stemHeader">STEMStars</h3>
            <p>One-To-One Mentorship Program</p>
            <p>STEMStars is a mentee-driven one-to-one mentoring program that strategically pairs mentees and mentors based on
                career progression needs, and long term career goals.
                <br>
                <br> Our mentors voluntarily provide skill development advices, risk management, career guidance, share their
                knowledge, experience, and connection to help our mentees sharpen their skills, get creative and achieve their
                career goals. <a href="stemstars">Learn more</a>
            </p>
            <p>
                <a style="margin: 3px; display: inline-block" href="https://goo.gl/forms/a0D30lEj8MEjbOjI3" target="_blank" role="button"
                    class="stem-button">Become a STEMStar mentee <i class="fa fa-chevron-right"></i></a>
                <a style="margin: 3px; display: inline-block" href="https://goo.gl/forms/GrEvOyXlFUuo8M562" target="_blank" role="button"
                    class="stem-button">Request a STEMStar mentor <i class="fa fa-chevron-right"></i></a>
            </p>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <hr>
    <div class="spacer"></div>

    <div class="row">
        <div class="col-sm-5">
            <h3 class="stemHeader">STEMSpires / STEMScholars Blog</h3>
            <p>Top STEM stories and updates</p>
            <p>Here, its all about and stories and program updates
                <br> from our team, partners and supporters.</p>
            <a href="#" role="button" class="stem-button">STEMS Blog
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
        <div class="col-sm-7"></div>
    </div>
</div>
<div class="spacer"></div>

<div class="container-fluid">
    <div class="row help-more">
        <div class="col-12">
            <h4>DONATE</h4>
            <p>You can help us reach more kids and youths</p>
            <a href="donate" role="button" class="transparent-button">Donate</a>
        </div>
    </div>
</div>