<div class="container-fluid s-landing">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <h2>STEMing</h2>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h3 class="green-header">STEMing</h3>
            <p>STEMing delivers creative, free, hands-on and minds-on STEM workshops on various STEM topics to students (Grade 2 - 12) in visible-minority-dominated, female-dominated and underserved communities across the Greater Toronto Area (GTA), Ontario, Canada.</p>
            <p>Just like scientists, we believe young people can imagine, question, design, create, test, improve and fall in love with STEM in a fun-filled learning environment under the guidance of skilled instructors.</p>
            <p>Our workshops are tailored to encourage curiosity about STEM, help young people develop useful skills and the right attitude towards STEM careers, and provide guidance to help young people understand how STEM shapes our daily lives.</p>
        </div>
        <div class="col-sm-5"></div>
    </div>

    <div class="spacer"></div>

    <div class="row align-items-center">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <h3 class="green-header">Who can request a STEMing workshop?</h3>
            <p>STEMing is available as a one-time, monthly or bi-monthly workshop held on saturdays, sundays and as occasional after school programs.</p>
            <p>Organizations that include but not limited to the following can request STEMing's workshops: Community centers, festivals, churches, libraries, after school programs, non-profit organizations, summer camps and shelters.</p>
        </div>
        <div class="col-sm-4 who-can-request">
            <div class="row">
                <div class="col-4">
                    <img src="../img/hall.png" alt="" class="mx-auto d-block">
                </div>
                <div class="col-4">
                    <img src="../img/cathedral.png" alt="" class="mx-auto d-block">
                </div>
                <div class="col-4">
                    <img src="../img/donation.png" alt="" class="mx-auto d-block">
                </div>
            </div> 
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="spacer"></div>

    <div class="row align-items-center">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <img src="../img/contract.png" alt="" class="sm-img" width="90px">
        </div>
        <div class="col-sm-5">
            <h3 class="green-header">Request a STEMing workshop</h3>
            <p>To request for a STEMing workshop, please fill out the form <a href="https://docs.google.com/forms/d/e/1FAIpQLSeGNM47WJ60jYLMbsbB3pUVQYrDm97LHOPaKjwGxJssUI_Rng/viewform" target="_blank">here</a>. Upon receipt of your STEM cell request, a follow-up email will be sent to you within 48 hours.</p>
            <p>For new and non-recurring workshops, kindly send your request one month in advance of the proposed workshop date.</p>
            <p>All requests are appreciated and will be acknowledged; however workshops are hosted on a first-come first-served basis and subjected to volunteers availability.</p>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="../img/piston.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-9">
                                    <p>Mechanical Engineering, Automatic & Robotics</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="../img/3d-printer.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-9">
                                    <p>Specialized 3D Design & 3D Printing Workshops</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="../img/ensamble-of-circles.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-9">
                                    <p>Mathematics, Mathematical Modelling & Applied Physics</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="../img/test.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-9">
                                    <p>Chemistry, Environmental Sciences & Life Sciences</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="../img/neptune.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-9">
                                    <p>Astronomy & Astro Physics</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="../img/file.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-9">
                                    <p>Subjects can also be tailored based on your request</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="../img/university.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-9">
                                    <p>Local universities vists</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="../img/itinerary.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-9">
                                    <p>Industrial trips / Company tours</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="spacer"></div>

    <div class="row center-all">
        <div class="col-12">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeGNM47WJ60jYLMbsbB3pUVQYrDm97LHOPaKjwGxJssUI_Rng/viewform" target="_blank" class="stem-button">Request a STEM cell workshop</a>
            <br>
            <p><a href="https://goo.gl/forms/H7yF11EKlhO7xqlC2" target="_blank">volunteer as a STEMing facilitator <i class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container-fluid steming-bottom">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <img src="../img/CA-ON-EPS-01-0001.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-3">
            <h3 class="green-header">Local Partners</h3>
            <p>We partner with local organizations, community centers, community festivals and churches to bring STEMing to communities around Ontario.
                <br>
                Pleas fill out the request for partnerships with organizations in developing countries around the world.
            </p>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 order-sm-1">
            <img src="../img/africa-35742_1280.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-3">
            <h3 class="green-header">Volunteer in Africa / Online</h3>
            <p>From developing contents to helping out in special events, STEMhub Foundation makes it easy to sign up for the latest volunteer opportunities. We are constantly looking for those with the passion to build the community we live in.</p>
            <br>
            <a href="https://goo.gl/forms/H7yF11EKlhO7xqlC2" target="_blank" class="stem-button">Volunteer <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
        <div class="col-sm-3 order-sm-12"></div>
    </div>
</div>

<div class="spacer"></div>

<div class="container-fluid">
    <div class="row help-more">
        <div class="col-12">
            <h4>DONATE</h4>
            <p>You can help us reach more kids and youths</p>
            <a href="donate" role="button" class="transparent-button">Donate</a>
        </div>
    </div>
</div>