<div class="container-fluid scholar">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h2>STEMScholar / STEMSocial</h2>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>
<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h3 class="green-header">STEMScholar</h3>
            <p>Get information about funding opportunities or need help to achieve your dream to get back to school on scholarship?<br>
            Send the STEMScholar head an email at <a href="mailto:brenda.mcwilson@stemhubfoundation.com">brenda.mcwilson@stemhubfoundation.com</a></p>
            <p>#STEMScholarships #EducationForAll #FullyFundedOpportunities #ActivateYourDreams</p>
            <br>
            <a href="#" class="stem-button">Read more</a>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>
<div class="spacer75"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h3 class="green-header">STEMSocial</h3>
            <p>We come from various backgrounds but share the same goal:<br>
            To revolutionize how STEM education is perceived by building an online community to engage the millenial audience about STEM opportunities.</p>
            <p>Love hashtags, emojis and want to help spread the word about STEM? Send STEMSocial team head and email to <a href="mailto:mariam.barry@stemhubfoundation.com">mariam.barry@stemhubfoundation.com</a></p>
            <br>
            <a href="#" class="stem-button">Read more</a>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>
<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3 class="green-header" style="text-align: center;">Meet the STEMScholars / STEMSocial Managers</h3>
            <br><br>
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img src="../img/brenda2.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="col-8">
                            <h5><strong>Brenda McWilson, BSc.</strong></h5>
                            <p class="green-header">STEMScholars Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img src="../img/mariam.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="col-8">
                            <h5><strong>Mariam Barry, BSc.</strong></h5>
                            <p class="green-header">STEMSocial Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br><br><br>
</div>