<div class="container-fluid ss-landing">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <br>
            <h2>STEMStars</h2>
            <br>
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>

<div class="container-fluid stemstars-top">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <div class="spacer"></div>
            <h3>STEMStars is a mentee-driven program</h3>
            <p>STEMStars is a mentee - driven one-to-one mentoring program that strategically pairs mentees with mentors based on career needs and goals.</p>
            <p>Our mentors voluntarily serve as role models, provides skill development advice, risk management, career guidance, share their knowledge, experience, and connection to help our mentees sharpen their skills, get creative and achieve their career goals.</p>
            <br><br>
            <h3>STEMStars Vision</h3>
            <p>Engineers thriving in their careers and leading the profession, unhindered by the barriers that propagate systemic under-representation
            of persons with minority backgrounds in engineering fields and leadership roles.</p>
            <div class="spacer"></div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

<div class="container">

    <div class="spacer"></div>

    <div class="row">
        <div class="col-sm-12">
            <img src="../img/illustrate.jpg" class="img-fluid" alt="illustrated diagram">
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row align-items-center">
        <div class="col-sm-5 order-sm-12">
            <img src="../img/progress-circles.png" class="sm-img" width="90px" alt="illustrated diagram">
        </div>
        <div class="col-sm-6 ss-work-1">
            <h3 class="green-header">How does STEMStars work?</h3>
            <p>Mentees will be in contact with their mentors once per month for one hour.</p>
            <p>Mentees submit a progress report a week prior to the monthly meetings via email and schedule a meeting with their mentors as convineint for the pair.</p>
            <p>STEMhub Foundation team conducts quarterly appraisal to examine the relationship and provides ongoing direct support to the pairs who have questions, concerns and minor financial needs.</p>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row align-items-center">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <img src="../img/contract.png" class="sm-img" width="90px" alt="illustrated image">
        </div>
        <div class="col-sm-6">
            <h3 class="green-header">Become a STEMStars Mentee</h3>
            <p>To be eligible for our One-to-One Mentoring program, applicants must be:</p>
            <ul>
                <li>A high school student / an undergraduate / a graduate student / a professional or a startup founder in STEM or non-STEM fields. Priority shall be given to Canadian residents.</li>
                <li>A female or a visible miniority who is teachable, anxious and ready to embrace accountability.</li>
            </ul>
            <p>Are you interested? Please fill out the STEMStars mentee form</p>
            <a href="https://goo.gl/forms/GrEvOyXlFUuo8M562" target="_blank" class="stem-button">Become a Mentee <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="spacer"></div>

    <div class="row align-items-center">
        <div class="col-sm-3 order-sm-12">
            <img src="../img/university-lecture.png" class="sm-img" width="90px" alt="illustrated mentor">
        </div>
        <div class="col-sm-6">
            <h3 class="green-header">Become a STEMStars Mentor</h3>
            <p>Call for applications to STEMStars mentoring will be out on June - June 2018. Our first intake will kick-off on August 1, 2018. All applicants are appreciated but only successful applicants will be contacted.</p>
            <a href="https://goo.gl/forms/a0D30lEj8MEjbOjI3" class="stem-button" target="_blank">Become a mentor <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3 class="green-header" style="text-align: center;">Meet the STEMStars Managers</h3>
            <br><br>
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img src="../img/msc.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="col-8">
                            <h5><strong>Minha R. Ha MSc.</strong></h5>
                            <p class="green-header">STEMStars Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img src="../img/bsc.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="col-8">
                            <h5><strong>Marsha Miller BSc.</strong></h5>
                            <p class="green-header">STEMStars Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="spacer"></div>

<div class="container-fluid">
    <div class="row help-more">
        <div class="col-12">
                <h4>DONATE</h4>
            <p>You can help us reach more kids and youths</p>
            <a href="donate" role="button" class="transparent-button">Donate</a>
        </div>
    </div>
</div>