<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h3 class="title">Importance things to know before picking a mentor.</h3>
            <h6 class="data">June 23, 2018</h6>
            <p class="post-highlight">What do Mark Zucks and Sherly Sandberg have in common apart from Facebook? Mentors.</p>
            <br>
            <img src="../img/3.jpg" alt="" class="img-fluid">
            <br>
            <p class="excerpt-of-post">In the early days of Facebook, Dan Graham the CEO of The Washington Post guided Mark Zucks on how to be a CEO.</p>
            <hr>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <h3>Categories</h3>
            <ul>
                <li>Tech</li>
                <li>Print</li>
                <li>Study</li>
                <li>Learning</li>
            </ul>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-sm-9">
            <h3 class="title">Importance things to know before picking a mentor.</h3>
            <h6 class="data">June 23, 2018</h6>
            <p class="post-highlight">What do Mark Zucks and Sherly Sandberg have in common apart from Facebook? Mentors.</p>
            <br>
            <img src="../img/3.jpg" alt="" class="img-fluid">
            <br>
            <p class="excerpt-of-post">In the early days of Facebook, Dan Graham the CEO of The Washington Post guided Mark Zucks on how to be a CEO.</p>
            <hr>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-sm-3">
            <h3 class="title">Importance things to know before picking a mentor.</h3>
            <h6 class="data">June 23, 2018</h6>
            <p class="post-highlight">What do Mark Zucks and Sherly Sandberg have in common apart from Facebook? Mentors.</p>
            <br>
            <img src="../img/3.jpg" alt="" class="img-fluid">
            <br>
            <p class="excerpt-of-post">In the early days of Facebook, Dan Graham the CEO of The Washington Post guided Mark Zucks on how to be a CEO.</p>
        </div>
        <div class="col-sm-3">
            <h3 class="title">Importance things to know before picking a mentor.</h3>
            <h6 class="data">June 23, 2018</h6>
            <p class="post-highlight">What do Mark Zucks and Sherly Sandberg have in common apart from Facebook? Mentors.</p>
            <br>
            <img src="../img/3.jpg" alt="" class="img-fluid">
            <br>
            <p class="excerpt-of-post">In the early days of Facebook, Dan Graham the CEO of The Washington Post guided Mark Zucks on how to be a CEO.</p>
        </div>
        <div class="col-sm-3">
            <h3 class="title">Importance things to know before picking a mentor.</h3>
            <h6 class="data">June 23, 2018</h6>
            <p class="post-highlight">What do Mark Zucks and Sherly Sandberg have in common apart from Facebook? Mentors.</p>
            <br>
            <img src="../img/3.jpg" alt="" class="img-fluid">
            <br>
            <p class="excerpt-of-post">In the early days of Facebook, Dan Graham the CEO of The Washington Post guided Mark Zucks on how to be a CEO.</p>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row help-more">
        <div class="col-12">
            <h4>DONATE</h4>
            <p>You can help us reach more kids and youths</p>
            <a href="donate" role="button" class="transparent-button">Donate</a>
        </div>
    </div>
</div>