<div class="container-fluid vol-land">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>Volunteer</h2>
                <p>Work / Partner with Us</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="container-fluid volunteer">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <h3>Work with Us</h3>
                <p>To ensure STEMHub Foundation represents the views, experience and opinions of young people across the world, we're constantly looking for volunteers with the passion to build the community we live in.<br>
                    Let your impact be felt around the world through your contributions.</p>
                <div>
                    <br>
                    <p><i class="fa fa-check fa-lg"></i> STEM Content Developers and Guest Content Contributors</p>
                    <p><i class="fa fa-check fa-lg"></i> STEMing / STEM Outreach Facilitators in Ontario</p>
                    <p><i class="fa fa-check fa-lg"></i> Graphics Designers</p>
                    <p><i class="fa fa-check fa-lg"></i> Public Relation Specialists</p>
                    <p><i class="fa fa-check fa-lg"></i> Project / Program Managers</p>
                </div>
                <br>
                <p>Fill the request form to volunteer with us <a href="#">here</a></p>
                <br>
                <a class="green-button" href="#" role="button">Volunteer</a>
                <br>
                <br>
                <hr>
                <br>
                <h3>Partner with Us</h3>
                <p>We partner with local organizations, community centers, community festivals, and churches to bring STEMing to communities around Ontario. Please fill out the request for partnership form <a href="#">here</a>. We are also open to partnerships with organizations in developing countries around the world.</p>
                <a class="green-button" href="#" role="button">Partner Now</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <div class="container-fluid vol-close">
        <div class="row">
            <div class="col-1 col-sm-8"></div>
            <div class="col-10 col-sm-4">
                <h3>We are creating amazing impact</h3>
                <p>Our 3D Printing workshop 2018</p>
                <a class="transparent-button" href="event" role="button">See Our Events</a>
            </div>
        </div>
    </div>

    <div class="container-fluid donate-footer">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3>DONATE</h3>
                <p>You can help us reach even more kids and Youth</p>
                <a class="transparent-button" href="donate">Donate</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>